html{
    /* overflow:hidden; */
    background-color:transparent;
    height:100%;
}
body {
    height:100%;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.app_container{
    display:block;
    position:relative;
    z-index: -1;
}
.canvas_container{
    display:block;
    position:relative;
    width:fit-content;
    /* min-width:50%;
    min-height:50%; */
    white-space: pre-wrap;
    /* line-height: 1.15; */
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.ascii_canvas{
    z-index: 0;
    transition:0.2s;
    margin:0 auto;
    display:block;
    margin:auto;
}
.canvas_background{
    transition:0.2s;
    z-index:0;
    position:absolute;
    top:-1em;
    left:-1ch;
    pointer-events: none;
    background-color:transparent;
}
.ui_container{
    /* position:fixed; */
    position:absolute;
    top:100px;
    left:100px;
    /* margin-left:-200px;
    margin-bottom: 200px; */
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
}
.ascii_button{
    color:black;
    background-color:white;
    width:fit-content;
    display:block;
    cursor:pointer;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.ascii_button:hover{
    background-color:#ffff00ff;
}
.control_label{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.control_label:hover{
    background-color:#ffff00ff;
}
.color_picker .react-colorful{
    width: 10px;
    height: 80px;
    border-radius:0px;
}
.color_picker .react-colorful__hue {
    height: 10px;
    border-radius:0px;
    border:none;
}
/* Custom poiners */
.color_picker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border:none;
    /* border-color:black; */
}
.slider_container{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width:fit-content;
    display:block;
    position:relative;
    height:2.5em;
}
.slider_label{
    font-family: monospace;
    pointer-events:none;
}
.slider_reset_button:hover{
    background-color:#ffff00ff;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 1em;
}
.slider::-webkit-slider-thumb:hover {
    background-color:#ffff00ff;
}