@font-face {
    font-family: 'Syne Mono';
    src: url('/SyneMono-Regular.ttf');
}

@font-face {
    font-family: 'Bytesized';
    src: url('/Bytesized-Regular.ttf');
}

@font-face {
    font-family: 'Workbench';
    src: url('/Workbench-Regular.ttf');
}

html{
    background-color:transparent;
    height:100%;
    user-select : none;
    /* font-family: Syne Mono; */
}
body {
  overflow-y: auto;
}
.app_container{
    position:absolute;
    left:40px;
    top:0;
    display:grid;
    grid-template-columns: 300px;
    grid-template-areas: "ui";
    transition:0.2s;
}
.help_button{
    z-index: 1;
    color:blue;
    background-color: transparent;
}
.help_button:hover{
    color:white;
    background-color: blue;
}
.ascii_canvas{
    position:relative;
    z-index:1;
    display:block;
}
.canvas_background{
    position:absolute;
    z-index:-1;
    left:-1ch;
    pointer-events: none;
}

.ui_container{
    display: block;
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    grid-area: ui;
    left:40px;
    margin-top:40px;
    height:fit-content;
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    font-size:12px;
    margin-bottom:200px;
}
.ui_header{
    /* background-color: black; */
    color:blue;
    width:fit-content;
    font-style: italic;
}
.ascii_button{
    white-space: pre;
    color:black;
    background-color:transparent;
    width:fit-content;
    display:block;
    cursor:pointer;
}
.ascii_button:hover{
    background-color:#ffff00ff;
}
#clear-canvas-button{
    color:white;
    background-color: red;
}
#clear-canvas-button:hover{
    background-color: blue;
}
#commit-image-button{
    color:white;
    background-color: red;
    animation: blinkBackground_red 0.5s infinite;
}
#commit-image-button:hover{
    color:'white';
    background-color: blue;
}
.control_label:hover{
    background-color:#ffff00ff;
}
.color_picker{
    border:none;
}
.color_picker .react-colorful{
    width: 10px;
    height: 80px;
    border-radius:0px;
}
.color_picker .react-colorful__hue {
    height: 10px;
    border-radius:0px;
    border:none;
}
.color_picker .react-colorful__saturation {
    height: 20px;
    border-radius:0px;
    border:none;
}
/* Custom poiners */
.color_picker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border:none;
    /* border-color:black; */
}
.color_picker .react-colorful__hue-pointer {
    width: 10px;
    height: 15px;
    border-radius: 0px;
    border:none;
    cursor:pointer;
    /* border-color:black; */
}
.slider_container{
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    width:fit-content;
    display:block;
    position:relative;
    height:2.5em;
}
.ui_component_container{
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    width:fit-content;
    display:block;
    position:relative;
}
.slider_label{
    /* font-family: monospace; */
    pointer-events:none;
        /* height:2.5em; */
}
.slider_reset_button:hover{
    background-color:#ffff00ff;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 1em;
}
.slider::-webkit-slider-thumb:hover {
    background-color:#ffff00ff;
}

.dropdown{
    width:fit-content;
    display:block;
    padding: 3px 3px;
    border: none;
    border-radius: 0px;
    background-color: yellow;
    color:blue;
    font-family:inherit;
    cursor:pointer;
}
.dropdown:hover{
    background-color: blue;
    color:white;
}

.file_input{
    color:#0000ff;
    text-decoration: underline;
    background-color: transparent;
    cursor:pointer;
    mix-blend-mode: difference;
}
.file_input input{
    display:none;
}
.image_preview{
    width:200px;
}

.border_input{
    background:blue;
    color:white;
}

.border_input:focus{
    background:yellow;
    color:blue;
}

.number_input{
    display:flex;
    font-family: inherit;
}
.number_input_button{
    border-style:none;
    background-color: blue;
    color:white;
    cursor: pointer;
    font-family: inherit;
}
.number_input_button:hover{
    background-color:#ffff00ff;
    color:black;
}
.number_input_box{
    user-select: none;
    border-style:none;
    background-color: transparent;
    width:fit-content;
    max-width:4ch;
    font-family: inherit;
}
.number_input_label{
    width:80%;
    margin:auto;
    font-family: inherit;
}
.ascii_graphics{
    white-space: pre;
    font-size: 10px;
    width:fit-content;
    height:fit-content;
}

@keyframes blinkBorder {
    from {border-color: #ffff00;}
    to {border-color: #0000ff;}
}
@keyframes blinkBackground {
    from {background-color: #ffff00;border:dashed 1px #0000ff;}
    to {background-color: transparent;border:dashed 1px #ffff00;}
}
@keyframes blinkBackground_red {
    from {background-color: #ff0000;}
    to {background-color: #0000ff;}
}


.resize_preview_box{
    animation: blinkBorder 0.5s infinite;
}
/* file dropper */
.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 75px;
    padding: 1em;
    /* margin:10px; */
    border: 1px dashed rgb(113, 136, 0);
    border-radius: 4px;
    color: rgb(113, 136, 0);
    background-color: beige;
    cursor: pointer;
    transition:0.1s;
}
.drop-zone:hover{
    background-color:blue;
    border: 1px solid rgb(113, 136, 0);
}