html{
    background-color:transparent;
    height:100%;
}
body {
    /* height:100%;
    padding: 0;
    margin: 0; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.app_container{
    position:absolute;
    left:0;
    top:0;
    display:grid;
    grid-template-columns: 300px auto;
    grid-template-areas: "ui canvas";
}
.canvas_container{
    /* margin-left:300px; */
    margin-top: 100px;
    display:block;
    position:relative;
    width:fit-content;
    white-space: pre;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.ascii_canvas{
    position:relative;
    z-index:1;
    /* margin:0 auto; */
    display:block;
    /* text-overflow: clip; */
}
.canvas_background{
    position:absolute;
    left:-1ch;
    pointer-events: none;
    background-color:transparent;
}
.selection_box{
    z-index:0;
    position:absolute;
    border-style:dashed;
    border-width:1px;
    pointer-events:none;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color:#ffff00;
}


.ui_container{
    display: block;
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    grid-area: ui;
    /* margin:40px; */
    left:40px;
    top:40px;
    margin-top:100px;
    height:fit-content;

    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
}
.ascii_button{
    color:black;
    background-color:white;
    width:fit-content;
    display:block;
    cursor:pointer;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.ascii_button:hover{
    background-color:#ffff00ff;
}
.control_label{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.control_label:hover{
    background-color:#ffff00ff;
}
.color_picker .react-colorful{
    width: 10px;
    height: 80px;
    border-radius:0px;
}
.color_picker .react-colorful__hue {
    height: 10px;
    border-radius:0px;
    border:none;
}
/* Custom poiners */
.color_picker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border:none;
    /* border-color:black; */
}
.slider_container{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width:fit-content;
    display:block;
    position:relative;
    height:2.5em;
}
.ui_component_container{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width:fit-content;
    display:block;
    position:relative;
}
.slider_label{
    font-family: monospace;
    pointer-events:none;
        /* height:2.5em; */
}
.slider_reset_button:hover{
    background-color:#ffff00ff;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 1em;
}
.slider::-webkit-slider-thumb:hover {
    background-color:#ffff00ff;
}

.dropdown{
    font-size:12px;
    width:fit-content;
    display:block;
    padding: 3px 3px;
    border: none;
    border-radius: 0px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.file_input{
    font-family: monospace;
    color:#0000ff;
    text-decoration: underline;
    background-color: #ffffff;
    cursor:pointer;
    mix-blend-mode: difference;
}
.file_input input{
    display:none;
}
.image_preview{
    width:200px;
}

.number_input{
    display:flex;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.number_input_button{
    border-style:none;
    background-color: transparent;
    cursor: pointer;
}
.number_input_button:hover{
    background-color:#ffff00ff;
}
.number_input_box{
    border-style:none;
    background-color: transparent;
    width:fit-content;
    max-width:4ch;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.number_input_label{
    width:80%;
    margin:auto;
}